Host *
    ServerAliveInterval 30
    ServerAliveCountMax 3
    TCPKeepAlive yes
    IPQoS throughput
    # IPQoS lowdelay throughput
    # GlobalKnownHostsFile ~/.ssh/known_hosts
    # UserKnownHostsFile ~/.ssh/known_hosts
    # StrictHostKeyChecking=no
    # LogLevel DEBUG3
    # Proxycommand /usr/local/bin/socat - PROXY:<hostname>:%h:%p,proxyport=<port>,proxyauth=<user>:<pwd>  # 基于ssh的git与基于http的代理
    # ProxyCommand /usr/bin/nc -v -X 5 -x <hostname>:<port> %h %p  # 基于ssh的git与基于socks5的代理
    # ProxyCommand /usr/local/bin/connect -H <hostname>:<port> %h %p  # 基于ssh的git与基于socks5的代理
    # Proxycommand /usr/local/bin/ncat --proxy <hostname>:<port> --proxy-type socks5 %h %p  # 基于ssh的git与基于socks5的代理
